body {
  margin: 0;
  padding: 0;
  font-family: Inter;
}
* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}
a {
  display: block;
}
ul {
  margin: 0;
  margin-inline: unset !important;
  padding: 0;
  list-style: none;
}
.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}
input {
  background-color: transparent;
  width: 100%;
}
input:focus {
  outline: none;
}
.deep_purple_700_pink_400_01_border {
  border-image: linear-gradient(180deg, #3d21ce, #ee307a) 1;
}
body {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

a {
  display: block;
}

ul {
  margin: 0;
  margin-inline: unset !important;
  padding: 0;
  list-style: none;
}

.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}

input {
  background-color: transparent;
  width: 100%;
}

input:focus {
  outline: none;
}

.ps-menu-icon {
  width: unset !important;
  min-width: unset !important;
  justify-content: start !important;
  margin: 0 !important;
}

.ps-menu-button,
.ps-menu-icon {
  height: unset !important;
}

.ps-menu-button:hover {
  background-color: unset !important;
}

.ps-sidebar-container,
.ps-submenu-content {
  background-color: transparent !important;
  overflow: unset !important;
}

.ps-collapsed .ps-menu-icon {
  min-width: 100% !important;
  justify-content: center !important;
}

.ps-collapsed {
  width: 80px !important;
}

.ps-sidebar-container,
.ps-menu-root,
.ps-menu-root>ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ps-sidebar-root {
  min-width: unset !important;
  border: none !important;
}

.ps-collapsed,
.ps-collapsed .ps-menu-root,
.ps-collapsed .ps-menu-button {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: unset !important;
  margin-right: unset !important;
}

.ps-collapsed ul {
  align-items: center;
}

.ps-menu-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ps-sidebar-container::-webkit-scrollbar {
  width: 2px;
}
.scrollable-div {
  height: 900px;
  width: 100%;
  overflow-y: scroll;
  margin: 20px;
  text-align: justify;
  padding: 20px;
}
.scrollable-divbody{
    height: 900px;
    width: 100%;
    overflow-y: scroll;
    margin:0;
    text-align: justify;
    padding: 0;
}
.scrollable-divitem{
  height:250px;
  width: 100%;
    overflow-y: scroll;
    margin: 0;
    text-align: justify;
    padding: 0;
}
.onscroll{
    height: 100%;
    overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@keyframes zoomIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoomIn {
  animation: zoomIn 0.3s ease-in-out;
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.3);
    opacity: 0;
  }
}

.animate-zoomOut {
  animation: zoomOut 0.3s ease forwards;
}

.flaming-button {
  position: relative;
  padding: 10px 20px;
  background-color: #ff4500;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  transition: background-color 2s ease;
  box-shadow: 0 0 20px rgba(255, 69, 0, 0.5);
}

.flaming-button::before,
.flaming-button::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image: radial-gradient(circle,

      rgba(228, 13, 228, 0.6) 40%,
      /* Purple */
      rgba(255, 0, 0, 0.359) 30%,
      /* Orange */
      rgba(174, 255, 0, 0.6) 50%,
      /* Yellow */
      rgba(0, 128, 255, 0.6) 50%,
      /* Cyan */
      rgba(255, 0, 0, 0.6) 50%
      /* Red */
    );
  animation: flames 2s infinite linear;
  opacity: 1;
  filter: blur(15px);
}

.flaming-button::before {
  animation-delay: 1.5s;
}

@keyframes flames {
  0% {
    transform: translate(0, 0) scale(1);
  }

  50% {
    transform: translate(50%, 50%) scale(1.5);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}

.flaming-button:hover {
  background-color: #ff6347;
  box-shadow: 0 0 30px rgba(255, 69, 0, 0.8), 0 0 40px rgba(255, 69, 0, 0.6), 0 0 50px rgba(255, 69, 0, 0.4);
}