<<<<<<< Updated upstream
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

@layer utilities {
  .scroll-container::-webkit-scrollbar {
    height: 8px;
  }

  .scroll-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}